* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: fixed;
  overflow-y: hidden;
}

.welcome-page {
  background-image: url("img/bg1.jpg");
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: 2rem solid #6f8560;

  transition: 1.5s ease-in;
}

.welcome-page__image img {
  height: 35vh;
  transform: translateY(-50vh);
  opacity: 0;
  animation: welcome-page-animation 2s ease forwards;
}

.welcome-page__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fuggles', cursive;
  /* border: 1px solid red; */
  margin-bottom: 0rem;
  height: 10rem;

  transform: translateY(-10vh);
  opacity: 0;
  animation: welcome-page-animation 2s ease forwards;
}

.welcome-page__name .feni, .welcome-page__name .yoga {
  font-weight: lighter;
  position: relative;
}
.welcome-page__name .feni{
  font-size: 5rem;
  left: -4rem;
  top: 0rem;
}
.welcome-page__name .yoga {
  font-size: 4.2rem;
  right: -4rem;
  bottom: 5rem;
}
.welcome-page__name .and {
  color: rgb(199, 166, 122);
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: -2rem;
  left: -0.5rem;
}

.welcome-page h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.welcome-page h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.welcome-page .buka-undangan {
  color: antiquewhite;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  border: none;
  background-color: #6f8560;
  padding: 0.8rem;
  border-radius: 1rem;
}

/* Transition Welcome Page */
.welcome-page.opened {
  transform: translateY(-130vh);
}

@keyframes welcome-page-animation {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


/* Page 1 */
.page1 {
  background-image: url("img/bg1.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.page1__image img {
  height: 30vh;

  transform: translateY(-10vh);
  opacity: 0;
}
.page1__image img.opened {
  animation: page1-animation 1s 1.5s forwards;
}

.page1__name {
  display: flex;
  align-items: baseline;
  font-weight: lighter;
  margin-bottom: 1rem;

  transform: translateY(5vh);
  opacity: 0;
}
.page1__name.opened {
  animation: page1-animation 1s 1.5s forwards;
}

.page1__name .feni, .page1__name .yoga {
  font-family: 'Fuggles', cursive;
  font-weight: lighter;
  margin: 0 1rem;
}
.page1__name .feni {
  font-size: 4rem;
}
.page1__name .yoga {
  font-size: 3.4rem;
}
.page1__name .and {
  color: #aeaeae;
}

.page1__tanggal {
  font-size: 1rem;
  font-weight: bolder;
  color: #aeaeae;
  margin-bottom: 10vh;

  transform: translateY(5vh);
  opacity: 0;
}
.page1__tanggal.opened {
  animation: page1-animation 1s 2s forwards;
}

.page1__bismillah img {
  height: 8vh;
  margin-bottom: 0.1rem;

  transform: translateX(-100vw);
}
.page1__bismillah img.opened {
  animation: page1-animation2 1s 1.5s forwards;
}

.page1__sentence {
  padding: 0 3rem;
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 1.4rem;

  transform: translateX(100vw);
}
.page1__sentence.opened {
  animation: page1-animation2 1s 1.5s forwards;
}

.page1__countdown {
  display: flex;
}

.page1__countdown .countdown-container {
  background-color: #6f8560;
  border-radius: 1rem;
  width: 4rem;
  height: 4rem;
  color: antiquewhite;
  margin: 0 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown-container__day, 
.countdown-container__hour, 
.countdown-container__minute {
  font-size: 1.2rem;
}

.countdown-container__unit {
  font-weight: lighter;
  font-size: 0.8rem;
}


/* Animation Page 1 */
@keyframes page1-animation {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes page1-animation2 {
  to {
    transform: translateX(0);
  }
}


/* Page 2 */
.page2 {
  background-image: url("img/bg1.jpg");
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.page2__container1 {
  display: flex;
  width: 100vw;
  padding: 0 3rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.page2__container1 img {
  height: 20vh;
}
.page2__container1 .ava-feni {
  transform: translate(-6rem, 0rem);
  opacity: 0;
  transition: 2s;
}
.page2__container1 .ava-yoga {
  transform: translate(6rem, 0rem);
  opacity: 0;
  transition: 2s;
}
.page2__container1 .ava-feni.scrolled,
.page2__container1 .ava-yoga.scrolled {
  transform: translate(0, 0);
  opacity: 1;
}


.page2__container1 h1 {
  font-family: 'Fuggles', cursive;
  font-weight: lighter;
}
.page2__container1 .feni {
  font-size: 5rem;
  margin-left: 1rem;
  transform: translate(6rem, 0rem);
  opacity: 0;
  transition: 2s;
}
.page2__container1 .yoga {
  font-size: 4.3rem;
  margin-right: 1rem;
  transform: translate(-6rem, 0rem);
  opacity: 0;
  transition: 2s;
}

.page2__container2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translate(0, 10vh);
  opacity: 0;
  transition: 2s;
}

.page2__container2 h3,
.page2__container2 h4 {
  color: #aeaeae;
  font-size: 1rem;
  text-align: center;
  padding: 0 0.8rem;
}


.page2__dengan {
  margin: 5vh auto;
}
.page2__dengan img {
  width: 50vw;
}